{% extends 'base.html' %}
    {% if error %}
{{ error }}
{% endif %}
{% block content %}
<form action="" method="POST">{% csrf_token %}

    Email <br>
    <input type="email" name="email"><br>
    Password
    <br>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Login">
</form>
{% endblock %}