{% extends 'base.html' %}
{% if error %}
{{ error }}
{% endif %}
{% block content %}
<h1>create an Account</h1>
<form action="." method="POST">{% csrf_token %}
    {{user_form.as_p}}
    <input type="submit" value="Create Account">
</form>
{% endblock %}