{% extends 'base.html' %}
{% block content %}
<h1>Myblogs</h1>

{% for post in posts %}
<h2>
    <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
    </a>
</h2>

{{post.body|truncatewords:30|linebreaks}} <br><br>
<p>Published {{ post.publish }}by {{post.author}}</p><br><br>
{% endfor %}{% include "pagination.html" with page=page_obj %}
<!--page=posts -->
{% endblock %}