
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="container">
    <h1>
        Welcome to my Django Site
    </h1>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #008080;color: white;">
  <a class="navbar-brand" href="{% url 'home' %}">Konoha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
      </li>
    </ul>
      <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <a class="nav-link" href="#">{{user.first_name}}</a>
          <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" style="font-weight:bold;">Logout</a>
      </li>
          {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
    <br><br>
<div style="
   left: 0;
   bottom: 0;
   height:50px;
   width: 100%;
   background-color: teal;
   color: white;
   text-align: center;">
    <h3>&copy;Pysantosh</h3>
</div>
</div>
